html, body, p{
    margin: 0;
    padding: 0;
}

*{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2{
    text-transform: uppercase;
}

header h1{
    width: 100%;
    font-size: 144pt;
    line-height: 1;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    filter: blur(15px);
}

header video{
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    mix-blend-mode: multiply;
}

body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section {
    z-index: 1;
    padding: 40px;
    width: 50%;
    mix-blend-mode: multiply;
    overflow: hidden;
    color: white;
    line-height: 1.25;
}

section > div{
    height: calc( (11/8.5) * (50vw - 160px));
    width: 100%;
    padding: 40px;
    background-color: #9164ff;
    overflow-x: hidden;
    overflow-y: scroll;
}

section:nth-of-type(1) > div{
    transform: rotate(-2deg);
}

section:nth-of-type(2) > div{
    transform: rotate(1deg);
}

section:nth-of-type(3) > div{
    transform: rotate(2deg);
}

section:nth-of-type(4) > div{
    transform: rotate(-3deg);
}

footer{
    position: relative;
    overflow: hidden;
}

footer video{
    display: block;
    width: 100%;
    z-index: -1;
    mix-blend-mode: multiply;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer img{
    width: 15%;
    padding: 40px;
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0;
}

/*
mobile view
*/
@media only screen and (max-width:480px) {
    section{
        width: 100%;
    }
    section > div{
    height: calc( (11/8.5) * (50vw + 160px));
    }

    header video{
    height: 100%;
    width: auto;
}

    header h1{
        font-size: 56pt;
        filter: blur(6px);
    }
}

/*
tablet view
*/
@media only screen and (min-width: 481px) and (max-width:768px) {
    section{
        width: 100%;
    }
    section > div{
    height: calc( (11/8.5) * (50vw + 160px));
    }

    header video{
    height: 100%;
    width: auto;
}

    header h1{
        font-size: 56pt;
        filter: blur(6px);
    }

    footer video{
        height: 100%;
        width: auto;
    }
}